.advantage {
  display: flex;
  justify-content:space-between;
  margin: var(--padding-medium) 0;
  flex-wrap: wrap;
}
.advantage__item {
  display: flex;
  justify-content: center;
  align-items: center;

}
.advantage-img {
  margin-left: 0.8rem;
}